# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project related
reports/

# Development
.vscode/*
venv/
test/
.pyenv*
.env*

# Deploy
build/
dist/
rtspbrute.egg-info/
